@import "tailwindcss";

body, html, #root {
  height: 100%;
  /* background: #475569; */
  font-family: 'Merriweather', serif;
  /* color: #1f2937 !important; */
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
}